@charset "UTF-8";

*, :before, :after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
}
.bg-site {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
	overflow: hidden;
}
html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	tab-size: 4;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
body {
	background-color: black;
	margin: 2rem;
	line-height: inherit;
}
h1 {
	font-size: 3.75rem;
	line-height: 4.5rem;
	font-weight: 900;
	letter-spacing: -.025em;
	color: rgb(240 240 240);
}
h2 {
	margin-top: 1.5rem;
	font-size: 2.125rem;
	line-height: 1.75rem;
	color: rgb(210 210 210);
}
h3 {
	padding-left: .625rem;
	font-size: 1.75rem;
	line-height: 1.5rem;
	font-weight: 900;
	letter-spacing: -.025em;
	color: rgb(0 0 0);
}
p {
	padding-left: .625rem;
	font-size: 1.75rem;
	line-height: 1.5rem;
	font-weight: 900;
	letter-spacing: -.025em;
	color: rgb(180 180 180);
}
.center {
	align-items: center;
}
.container {
	display: flex;
	flex-direction: row;
}

.content {
	flex: 1;
	padding: 20px;
}

.text {
	text-align: right;
}
.logo-p {
	font-weight: 700;
	--tw-text-opacity: 1;
	color: rgb(17 24 39 / var(--tw-text-opacity));
	font-size: 1.5rem;
	line-height: 2rem;
}
.image {
	width: 53%;
	height: 100%;
	max-width: none;
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
	border-radius: 1.5rem;
}
.depoimento{
	display: inline-flex;
	align-items: center;
}
.avatar {
	margin: .5rem .25rem;
	display: block;
	height: 3rem;
	width: 3rem;
	border-radius: 9999px;
	border-width: 2px;
	--tw-border-opacity: 1;
	border-color: rgb(37 50 56 / var(--tw-border-opacity))
}
.sec {
	position: relative;
	overflow: hidden;
	padding-top: 2rem;
	background-color: rgb(255 255 255);
	--tw-space-y-reverse: 0;
	margin-top: calc(6rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(6rem * var(--tw-space-y-reverse));
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.box-avatar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 48rem;
}
/* Margin Top 2rem */
.mgt-20 {
	margin-top: 2rem;
}
/* Margin Top 1.5rem */
.mgt-15 {
	margin-top: 1.5rem;
}
/* Margin Top 3.5rem */
.mgt-35 {
	margin-top: 3.5rem;
}


@media (min-width: 640px) {
	.avatar {
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		height: 3.5rem;
		width: 3.5rem
	}
}
